body {
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 30px;
}

h1 {
  margin-bottom: 30px;
}

.card {
  background: #1e293b;
  padding: 20px;
  margin: 15px auto;
  width: 280px;
  border-radius: 10px;
  font-size: 18px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #facc15;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
